@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body{
    font-family: 'Poppins',
    sans-serif;
}
.bank-heading{
    color: #791949;
    font-size: 48px;
}
.img{
    width: 705px;
    height: 815px;
}
.calculation-body {
    background: #f8f8f8;
    
    
}
.input-filed{
    border: none;
    width: 229px;
    height: 44px;
    background: #DCDCDC;
    border-radius: 2px;
}
.save-filed{
    border: none;
    width: 100px;
    height: 44px;
    background: #DCDCDC;
    border-radius: 2px;
}
.input-text{
    font-size: 20px;
}
.common-heading{
    font-weight: 500;
}
.button{
    border: none;
    background-color: #791949;
    color: white;
    font-weight: 500;
}

/* --------------------responsive for mobile--------------------- */
@media only screen and (min-width: 0px) and (max-width:576px){
    .img {
        width: auto;
        height: 600px;
    }
}